$color-1: #fff;
$color-1-light: #fff;
$color-1-dark: #fff;
$color-2: #fff;
$color-2-light: #fff;
$color-2-dark: #fff;

$backgroundColor: white;
$highlightColor: #fd701e;
$defaultButtonColor: #343a40;
$defaultButtonColorActive: #1d2124;
$dangerColor: #dc3545;
$darkRedColor: #be1b2b;
$borderColor: gray;
$roBorderColor: lightgray;
$roBackgroundColor: #e9ecef;
$tAreaBorderColor: #ced4da;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// button styles
.btn {
  font-size: inherit;
  // height: 3rem;
  padding: 0.6rem 1rem;

  &__loginRegister {
    width: 28rem;
  }

  &--large {
    padding: 1rem 2rem;
    margin: 0.2rem;
  }

  &--dark {
    background-color: $defaultButtonColor;
    border: 0.1rem solid $defaultButtonColor;
    color: $backgroundColor;
  }

  &--dark:focus {
    outline: none;
  }

  &--dark:hover {
    background-color: $defaultButtonColorActive;
    border: 0.1rem solid $defaultButtonColorActive;
  }

  &--dark:not(:disabled):not(.disabled):active {
    outline: 0.3rem solid $highlightColor;
  }

  &--danger {
    background-color: $highlightColor;
    border: 0.1rem solid $highlightColor;
    height: 2.8rem;
    color: $backgroundColor;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--danger:focus {
    outline: none;
  }

  &--danger:hover {
    background-color: $dangerColor;
    border: 0.1rem solid $dangerColor;
  }

  &--danger:not(:disabled):not(.disabled):active {
    outline: 0.2rem solid $highlightColor;
  }
}

// input styles
.input {
  font-size: inherit;
  font-family: inherit;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $borderColor;
  height: 3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: 0.2rem;
  text-align: center;

  &--main {
    width: 28rem;
    text-align: left;
  }

  &--small {
    width: 4rem;
  }

  &--mid {
    width: 7rem;
    text-align: left;
  }

  &--big {
    width: 11rem;
    text-align: left;
  }

  &--btmBorder {
    border-color: $backgroundColor;
    border-bottom: 0.1rem solid $borderColor;
  }

  &--clear {
    border: 0.1rem solid $backgroundColor;
  }

  &--readonly {
    background-color: $roBackgroundColor;
    border: 0.1rem solid $roBorderColor;
    width: 4rem;
  }

  &--large {
    width: 4rem;
    height: 4rem;
  }

  &--error {
    border: solid red 2px !important;
  }
}
