$color-1: #fff;
$color-1-light: #fff;
$color-1-dark: #fff;
$color-2: #fff;
$color-2-light: #fff;
$color-2-dark: #fff;

$backgroundColor: white;
$highlightColor: #fd701e;
$defaultButtonColor: #343a40;
$defaultButtonColorActive: #1d2124;
$dangerColor: #dc3545;
$darkRedColor: #be1b2b;
$borderColor: gray;
$roBorderColor: lightgray;
$roBackgroundColor: #e9ecef;
$tAreaBorderColor: #ced4da;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.home {
  font-size: 2rem;
}

.games {
  font-size: 2rem;
}

.profile {
  font-size: 2rem;
}

.input--error {
  border: solid red 2px;
  padding: 0px 3px 0px 3px;
}
