.chatroom {
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
}

.charSelect__select{
  font-size: inherit;
  width: 100%;
  height: 4rem;
  border: 1px solid $tAreaBorderColor;
  background: $tAreaBorderColor;
  text-align: left;
} 

.sheetComp__btn {
  font-size: inherit;
  width: 100%;
  height: 4rem;
  margin-left: none;
  margin-right: none;
  text-align: left;

  &:focus {
    border-top: 0.1rem solid $highlightColor;
    border-bottom: 0.1rem solid $highlightColor;
    background: $defaultButtonColorActive;
    //outline: 0.3rem solid $highlightColor;
  }

  &:not(:disabled):not(.disabled):active {
    outline: none;
  }
}

.userList {
  background-color: $defaultButtonColor;
  font-size: 2rem;
  padding: 1rem;
  text-align: left;
  color: #fff;
  height: 93.7vh;

  &__userCount{
    height: 3.5rem;
  }

  &__users{
    color: #fff;
  }
}

.chatName {
  font-size: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  text-align: left;
  color: white;
  background: $defaultButtonColor;
  border-bottom: 1px solid $defaultButtonColorActive;
  border-right: 1px solid $defaultButtonColorActive;
  border-left: 1px solid $defaultButtonColorActive;
}

.chatBar {
  height: 3.7rem;
  border: none;
  &__input {
    height: 3.7rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-align: left;
    outline: none;
  }

  &__input:focus {
    border: 0.2rem solid $highlightColor;
  }

  &__button {
    width: 9rem;
    height: 3.7rem;
  }

  .btn {
    width: 7rem;
    height: 3.7rem;
    margin: 0.2rem;
  }
}

.chatSheetCompToggle {
  .combat {
    width: 50rem;
  }
  .spellCastingBlock {
    width: 74rem;
  }
  .personalityBackground {
    width: 29rem;
  }
  z-index: 99;
  overflow-y: auto;
  margin-left: 13.5rem;
  top: 5.5rem;
  max-height: 69.5rem;
  min-width: 23rem;
  background: white;
  position: absolute;
  padding: 1.5rem;
  padding-bottom: 3rem;
  border: 0.1rem solid $borderColor;
  box-shadow: 0 0 0.8rem $borderColor;
}
.chatDisplay{
  &__message {
    &--userMessage {
      color: $defaultButtonColor;
      padding: 0.3rem;
      padding-left: 0.8rem;
    }
  }

  &__image{
    height: 4.5rem;
    width: 4.2rem;
    margin: 0.1rem;
  }

  &__messageBlock{
    margin-top: 0.5rem;
    padding-left: 0.7rem;
  }

  &__timestampMessage{
    margin-left: 0.6rem;
    padding-top: 0.6rem;
  }

  &__separator{
    background: $tAreaBorderColor;
    width: 20rem;
    height: 0.1rem;
    margin-left: 0.8rem;
  }
}
