.topWrapper {
  display: grid;
  grid-template-columns: 33rem 18rem auto;
  grid-template-rows: 27rem auto auto;
  grid-gap: 2rem;
}

.bottomWrapper {
  display: grid;
  grid-template-columns: 75rem auto;
  grid-template-rows: auto auto auto;
  grid-gap: 2rem;
}

.spellCastingBlock {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

//abilities and saving throws layout
.abilitiesST {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: space-between;

  .profInspPerc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
}

.skills {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.combat {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

//combat layout
.combatStats {
  display: flex;

  .AcInitSpeed {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }

  .combatStats__heading {
    flex-basis: 100%;
    text-align: left;
  }

  .hitPoints__heading {
    text-align: left;
  }

  .hitPoints {
    text-align: right;
  }
}
.deathSaves__heading {
  flex-basis: 100%;
  text-align: left;
}

.deathSaves {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: right;
}

// inventory layout
.inventoryFull {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 45rem;

  .money {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .money__heading {
    order: 6;
    align-self: flex-start;
  }

  .equipment {
    display: flex;
    flex-direction: column;
  }
}

// background and personality layout
.personalityBackground {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  .personality {
    display: flex;
    flex-direction: column;
  }
}

//notes layout
.charNotes {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;

  .charNotes__heading {
    flex-basis: 100%;
    text-align: left;
  }

  .hitDice {
    display: flex;
    flex-direction: column;
  }

  .notes {
    display: flex;
    flex-direction: column;
  }
}
