.ml-auto {
  margin-left: auto;
}

.mb {
  &-small {
    margin-bottom: 0.5rem;
  }

  &-medium {
    margin-bottom: 2rem;
  }

  &-large {
    margin-bottom: 4rem;
  }
}

.center {
  text-align: center;
}
