ul {
  list-style-type: none;
  padding-inline-start: 0.5em;
}

input[type='checkbox'] {
  width: 1em;
}

input {
  margin: 0em 0.3em 0.3em 0.3em !important;
  width: 10em;
  border: none;
  border-bottom: 1px solid;
}

input[type='number'] {
  border: 1px solid gray;
}

input:read-only {
  border: 1px solid lightgray;
  text-align: center;
  width: 2.7em !important;
}

.classLevel input {
  border: none;
  border-bottom: 1px solid;
}

.classLevel input:read-only {
  border: none;
  text-align: left;
  outline: none;
  width: 6em;
}

.leftFloat {
  float: left;
}

#characterInfo {
  padding: 0.5em 0em 0 1em;
  margin: 0em 0em 0 1em;
}

.classLevel{
  padding: 0.5em 0em 0 0.5em;
  margin: 0em 0em 0 1em;
}

.abilityScores {
  padding: 0.5em 0em 0 0em;
  margin: 0em 0em 0 1em;
}

.savingThrows h3 {
  text-align: center;
}

.skills {
  padding: 0 1em 0 1em;
  margin: 0 1em 0 1em;
  height: 50em;
}

.attackWrapper select {
  width: 4em;
}

.savingThrowsProf {
  padding: 0.5em 1em 0 1em;
  margin-bottom: 1em;
}

.acStatsWrapper {
  height: 9em;
}

.acStatsList div {
  width: 6em;
  height: 4em;
}

.acStatsList input {
  width: 4em;
  height: 3em;
  text-align: center;
}

.acStatsList li {
  float: left;
}

#hpTemp {
  width: 4em;
}

.characterSheet textarea {
  display: block;
  resize: none;
  width: 30em;
  height: 8em;
  vertical-align: top;
  margin-bottom: 1em;
  margin-left: 0.6em;
}

.personalityBackground textarea {
  height: 5.45em;
}

.personalityBackground{
  width:100%;
}

.wrapperSettings {
  padding: 0em 1em 0em 1em;
  margin-bottom: 1em;
}

.combatWrapper {
   width:38em;
}

.combatWrapper, .wrapperSettings {
   padding:0 0 0 1em;
}

.combatWrapper label {
  margin-left: 0em !important;
}

.spellCastingWrapper label {
  margin-left: 0em !important;
}

.spellCastingWrapper{
  width:100%;
}

.wrapperSettings label {
  margin-left: 0.6em;
}

.submitBtn {
  width: 100%;
}

#feats {
  height: 10em;
}

.moneyWrapper input {
  width: 5.3em;
}

.expWrapper {
  margin-left: 0.6em;
}

.attacksList li {
  margin-bottom: 1em;
}

.featsAndTraits {
  float: left;
  margin-right: 1.5em;
  height: 13em;
}

.deathSavesWrapper {
  margin-top: 2.5em;
  width:33%;
}

.noMargin {
  margin-bottom: 0;
}

.topWrapper::after {
  content: '';
  clear: both;
  display: table;
}

.row .smallInput {
  width: 3.1em;
}

.row{
  margin-left: 0em;
  line-height: 2.3em;
}

.abilityScores .abModifiers{
 padding-left: 0px;
}

.row .midInput {
  width: 6em;
}

.characterSheet{
  font-family: "Times New Roman";
}

.characterSheet button{
  height:2em;
}

input[readonly]::-webkit-inner-spin-button, 
input[readonly]::-webkit-outer-spin-button  { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[readonly] {
    -moz-appearance:textfield;
}

.row .edgeBox{
  border-radius: 0px;
  padding-right: 0 ;
}

.row input:read-only{
  padding-right: 0.75em !important;
}

.row .lightDropDown {
   border-radius: 0px;
   height: 2.42em;
   padding-left: 0.2em;
   padding-right: 0;
   border: 1px solid lightgray;
}

.skillList {
  height: 2.5em;
}

.row .bigInput{
  width:10em;
}

.row .btmBorder{
  border-radius: 0px;
  border: none;
  border-bottom:1px solid gray;
}

.edgeBtn{
  border-radius: 0px !important;
  line-height: 0 !important;
}

.separationLine {
  margin-bottom:1em;
  height:1px;
  width:100%;
  background-color:lightgray;
}

.wrapperSettings .tArea {
  border-radius: 0px;
  height: 8em;
}

.attackWrapperTable input{
  border-radius: 0px;
  border: none;
  border-bottom:1px solid gray;
  margin-left: 0em !important;
  margin-right: 0em !important;
  line-height: 2.3em;
  padding-right: 0 ;
}

.attackWrapperTable .lightDropDown{
  border-radius: 0px;
}

.attackWrapperTable .smallInput{
  width: 2.8em;
}



.attackWrapperTable .row .lightDropDown {
  width: 3.25em;
  height: 2.4em;
  border-radius: 0px;
  border: none;
  border-bottom:1px solid gray;
  background-color: white;
  margin-left: 0em;
  line-height: 2.3em;
  padding-right: 0 ;
}

.attacksTable{
  border-collapse: separate;
}

.attackWrapperTable .attackName{
  width: 10em;
}

.attacksTable{
  text-align: center;
  align-content: center;
}

.wrapHeader{
  width:5em;
  word-wrap: normal;
}

.attackWrapperTable{
  margin-bottom: 2em;
}

.attackWrapperTable .row{
  margin:auto;
}

.attackWrapperTable .attackBonus{
  margin-left:0.3em !important;
}

.dmgCol{
  width:7em;
}

.smallCol{
  width: 3.8em;
}

.dmgCol .wrapHeader{
  margin:auto;
}

.attackWrapperTable .dmgType{
  width:6.5em;
}

.attackWrapperTable .atkRange{
  width:2.8em;
}

.attackWrapperTable .atkRange::-webkit-inner-spin-button, 
.attackWrapperTable .atkRange::-webkit-outer-spin-button  { 
  -webkit-appearance: none; 
  margin: 0; 
}

.invWrapper{
  width:39em;
}
