.sheetCompBtn {
  width: 8em;
  height: 3em;
  border-radius: 0px !important;
}

.chatSheetCompToggle {
  max-height: 47em;
  margin-left: 10em;
  position: absolute;
  display: inline-block;
  background: white;
  border: solid white 3px;
  box-shadow: 2px 3px 28px 13px rgb(179, 179, 187);
  z-index: 1000;
  overflow-y: auto;
}

.chatSheetCompToggle h3,h4{
   font-family: "Times New Roman";
}

.sheetListComponent{
  padding-top: 0.2em;
}

.charSelect{
  width: 11em;
  margin-left: 0.5em;
}

.charSelect option{
  background-color: white;
}

