.characterSheetChat .sheetCompBtn {
  width: 8em;
  height: 3em;
  border-radius: 0px;
}

.combatWrapper {
   width:100%;
}

.invWrapper .equipedItems{
  width:18em;
}

.invWrapper .inventory{
  width:18em;
}

.chatSheetCompToggle {
  max-height: 47em;
  margin-left: 10em;
  padding: 0.5em 2em 0.5em 0.5em;
  position: absolute;
  display: inline-block;
  background: white;
  border: solid white 3px;
  box-shadow: 2px 3px 28px 13px rgb(179, 179, 187);
  z-index: 1000;
  overflow-y: auto;
}

.chatSheetCompToggle {
   font-family: "Times New Roman";
}

.sheetListComponent{
  padding-top: 0.2em;
}

.characterSheetChat .charSelect{
  width: 11em;
  margin-left: 0.5em;
  border-radius: 0px;
}

.characterSheetChat .charSaveBtn{
  border-radius: 0px;
  height:2.5em;
}

.charSelect option{
  background-color: white;
}

.edgeBtn {
  height:2em;
}

#feats{
  width:30em;
}


